/* General Styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.cart {
    padding: 10px;
}

.card-img {
    height: 200px;
    object-fit: cover;
}

.cart-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.cart-info img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}

.notFoundText {
    font-size: 50px;
    text-align: center;
    margin-top: 15%;
    color: red;
}

#gsearch {
    cursor: pointer;
}

